@import "bootstrap";

.main {
  padding-top: 30px;
}

#nav-stuff {
  color: white;
}

.navbar a {
  color: white;
}

.navbar-nav > li > .dropdown-menu { background-color: #292b2c; }

#my-logo {
  color: #5bc0de;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: url('rounds.jpg');
  background-size: cover;
  height: 300px;
  color: white;
}

.jumbotron h1,h3 {
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: .1em;
}

.img-circle {
  border-radius: 50%;
}

.chef-info {
  margin-top: 10px;
}

.error-style {
  color: red;
}

.msg-style {
  padding-top: 20px;
}

.recipe-actions{
  padding-top: 30px;
}

/* Chefs Styles */

.card-col {
  @include media-breakpoint-only(lg){
    column-count: 3;
  }
  @include media-breakpoint-only(xl){
    column-count: 3;
  }
}
.main-card {
  margin: 12px;
}

.chef-img {
  float:left;
}

.chef-info{
  float: right;
}

.paggy {
  margin: 0 auto;
  padding-left: 400px;
}

.delete-chef {
  padding: 20px;
}

.input_checkbox input {
  width: auto !important;
}
