@import "bootstrap";

.main {
  padding-top: 30px;
}

#nav-stuff {
  color: white;
}

.navbar a {
  color: white;
}

#my-logo {
  color: #5bc0de;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: url('rounds.jpg');
  background-size: cover;
  height: 300px;
  color: white;
}

.jumbotron h1,h3 {
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: .1em;
}

.img-circle {
  border-radius: 50%;
}

.chef-info {
  margin-top: 10px;
}

.error-style {
  color: red;
}

.msg-style {
  padding-top: 20px;
}

.recipe-actions{
  padding-top: 30px;
}
